/* 기본 폰트 */
@font-face {
    font-family: 'OMYuPretty';
    src: url('../fonts/omyu-pretty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HandwritingFont';
    src: url('../fonts/IM_Hyemin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-brown: #6B3E26;
    --color-beige: #D6B98C;
    --color-green: #3C8D40;
    --color-green-dark: #337438;

    --font-omyu: 'OMYuPretty', sans-serif;
    --font-hand: 'HandwritingFont', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-omyu);
    background-color: var(--color-beige);
    color: var(--color-brown);
    line-height: 1.6;
    padding-top: 60px;
}

a {
    color: var(--color-green);
    text-decoration: none;
}

.button {
    color: white;
    padding: 5px 35px;
    font-size: 20px;
    font-family: var(--font-omyu);
    font-weight: bold;

    box-shadow: -1px -1px 0 1px white;
    border: var(--color-brown);
    background-color: var(--color-green);

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.97);
}

.submit-button {
    background-color: var(--color-green);
}

.submit-button:hover {
    background-color: var(--color-green-dark);
}

.cancle-button {
    background-color: grey;
}

.cancle-button:hover {
    background-color: dimgrey;
}

.delete-button {
    background-color: red;
}

.delete-button:hover {
    background-color: crimson;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;
}